@media (min-width: 576px) {
  .container {
    max-width: 570px; } }
@media (min-width: 767px) {
  .container {
    max-width: 1140px; }

  .main-container .left-wrapper {
    width: 300px;
    left: 0; }
  .toolbar-fixed.toolbar-horizontal .main-container .left-wrapper{
    top: 37px;
  }
  .toolbar-fixed.toolbar-horizontal.toolbar-tray-open .main-container .left-wrapper {
    top: 77px;
  }
  .main-container .content-wrapper {
    padding-left: 300px;
    /* background: #f9f9f9; */
    }

  .expand-menu:after {
    background: none;
    z-index: -1; }
  .expand-menu .left-wrapper {
    left: -300px; }
  .expand-menu .content-wrapper {
    padding: 0;
    width: 100%; }
  .expand-menu .navbar-toggle .fas {
    /* color: #000; */
    }

  .navbar-toggle .fas {
    color: #999; }

  .user-logged-in .main-header {
    position: relative; }

  .flexslider .slider-caption {
    display: block;
    top: 25%;
    left: 10%;
    width: 60%;
    font-size: 1.2em; }
  .flexslider .flex-direction-nav {
    display: block;
    margin-top: -24px; }

  .clients .region ul li {
    width: 24%; }

  .carousel-caption p, .carousel-caption h3 {
    display: block; }
  .carousel-caption p:last-child {
    margin: 0; }

  .carousel-caption {
    background-color: #fff;
    background: rgba(0, 0, 0, 0.84);
    color: #ddd;
    text-shadow: none;
    padding: 20px;
    top: 20%;
    left: 10%;
    bottom: auto;
    width: 30%;
    text-align: left; }

  .comment-wrap .author-details {
    width: 10%; }
  .comment-wrap .author-comments {
    width: 90%; } }
